ansible==4.8.0
ansible-core==2.11.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
idna==3.3
Jinja2==3.0.2
MarkupSafe==2.0.1
opera==0.6.7
packaging==21.2
pkg_resources==0.0.0
pycparser==2.21
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.26.0
resolvelib==0.5.5
shtab==1.4.2
urllib3==1.26.7
websocket-client==1.2.1